body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;                
    justify-content: space-between; 
    align-items: center;
    background-color: #f1bdbd8d; 
    padding: 6px 20px;
}

.logo img {
    height: 50px;
}

.nav ul {
    list-style: none;            
    margin: 0;                   
    padding: 0;                  
    display: flex;               
}

.nav li {
    margin: 0 10px;              
}

.nav a {
    color: white;                
    text-decoration: none;       
    padding: 5px 10px;
}

.nav a:hover {                      
    background-color: #c19898;      
    border-radius: 5px;          
}

main {
    display: flex;                
    flex-direction: column;       /* 垂直排列 */
    justify-content: center;      
    align-items: center;         
    margin-top: 10px;            
    height: 100%;                 /* 使main占满整个视口高度 */
}

.modebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;         /* 增加按钮和图片之间的间距 */
}

.button {
    display: inline-block;       
    width: 80px;               
    height: 80px;              
    overflow: hidden;
    border: none;              
    background: none;           
    padding: 0;                 
    cursor: pointer;            
}

.button img {
    width: 80px;                   
    height: 100%;                  
    max-width: none;               
    object-fit: cover;              
    position: relative;             
    left: 50%;                      
    top: 50%;                       
    transform: translate(-50%, -50%); 
}

/* 大图片展示区域 */
#large-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;             /* 确保与按钮之间有间距 */
}

#largeImage {
    width: 400px;
    height: 400px;
    display: none;                /* 默认隐藏 */
    object-fit: cover;            /* 确保图片等比例缩放 */
}
